<?xml version="1.0" ?>
<robot name="sawyer" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Robot -->
  <xacro:include filename="$(find sawyer_description)/urdf/sawyer_rocksi_arm.urdf.xacro"/>
  
  <!-- 2 finger gripper -->
  <xacro:include filename="$(find robotiq_2f_85_gripper_visualization)/urdf/robotiq_arg2f_85_model.xacro"/>
  <joint name="arm_gripper_joint" type="fixed">
		<parent link="right_hand_l"/>
    <child link="robotiq_arg2f_base_link"/>
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</joint>

  <!-- 3 finger gripper -->
  <!--
  <xacro:include filename="$(find robotiq_3f_gripper_visualization)/cfg/robotiq-3f-gripper_articulated.xacro"/>
  <joint name="arm_gripper_joint" type="fixed">
		<parent link="right_hand_l"/>
		<child link="palm"/>
		<origin xyz="0 0 0.037" rpy="1.57 0 0"/>
	</joint>
  -->

</robot>
